.web{
    color: #2196F3;
}
footer{background-color: #2F303A;}
.std1{
    color: white;
}
.gb{
color: #2196F3;
}

ul{
    list-style: none;
}
footer>div>ul>li>a{
    color: #FFFFFF99;
}
a{
 text-decoration: none;
}

.gbf{
    color: white;
     background-color:  #2196F3;
     ;
}

.num{
    color:black
}
.std{color: black;}
.container{
width: 1170px;
margin: auto;
box-sizing: border-box;
border-color: red;
border-style: double;
padding-left: 15px;
padding-right: 15px     ;
}